<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">
    <link rel="JavaScript" href="toogle.js"
</head>

<body>
    <div class="container">
        <!-- Sidebar -->
        <aside class="sidebar">
            
            <nav class="sidebar">
                <ul>
                    <li><a href="tutor_dashboard.html">Dashboard</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="availability.html">Availability</a></li>
                    <li><a href="sessions.html">Upcoming sessions</a></li>
                    <li><a href="resources.html">Resources</a></li>
                    <li><a href="reviews.html" id="reviews">Reviews</a></li>
                    <li><a href="settings.html">Settings</a></li>
                </ul>
            </nav>
        </aside>

        <!-- Main Content -->
        <main class="content">
            <header class="header">
                <input type="text" placeholder="Search your upcoming sessions here">
            </header>
            
            <section class="dashboard">
                <h1>Dashboard</h1>
                <p>Welcome back, John!</p>
                <h2>Upcoming sessions</h2>
                    <div class="session highlighted">
                        <div class="date">Aug, 20</div>
                        <div class="info">
                            <h3>Software Design</h3>
                            <p>4:00 PM | Tutor: Beyonce Koenze</p>
                        </div>
                    </div>
                    <div class="session highlighted">
                        <div class="date">Aug, 25</div>
                        <div class="info">
                            <h3>English</h3>
                            <p>1:00 PM | Tutor: Sarah Hutson</p>
                        </div>
                    </div>
                    <div class="session highlighted">
                        <div class="date">Aug, 25</div>
                        <div class="info">
                            <h3>English</h3>
                            <p>1:00 PM | Tutor: Sarah Hutson</p>
                        </div>
                    </div>
                </div>
            </section>
            
        </main>
        <footer class = "footer">
            <p>Campus Tutoring App</p>
        </footer>
    </div>
</body>
</html>
